.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  min-width: 100px;
  max-width: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}
img {
  align-self: flex-end;
}
.title-heading {
  text-align: start;
}
.description-paragraph {
  text-align: start;
  color: #64748b;
}

li {
  padding-left: 0;
  list-style-type: none;
}
